<div id="marginLeft" class="col-sm-1"></div>
<div class="col-lg-10 text-center center" >
  <h3><strong>Contact</strong></h3>
  <p>School of Computer Science, Jack Cole Building, North Haugh,<br>St Andrews KY16 9SX Scotland</p>
  <ul class="list-unstyled">
    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  +44/0 1334 461622</li>
    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  +44/0 1334 463278</li>
    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <a href="mailto:jkfb@st-andrews.ac.uk">Personal Email</a></li>
    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <a href="mailto:welfare-equality-cs@st-andrews.ac.uk">Welfare</a></li>
    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <a href="mailto:desem-coord-cs@st-andrews.ac.uk">DESEM</a></li>
  </ul>
  <hr class="small">
</div>

      